body {
    margin: 0;
}


.header_top_line {
    background-color: #191d21;
    width: 100vw;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-radius: 10px;
    background-color: #43515d;
    width: 100vw;
    height: 50px;
    margin: 30px;
}

.header__logo {
    height: 50px;
    opacity: 70%;
    border-radius: 10px;
}

.header__link {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
    font-size: 20px;
    text-decoration: none;
    color: #fff;
    border-radius: 5px;
}

.header__controls button {
    appearance: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    width: 130px;
    font-weight: 600;
    background-color: #1174e6;
    border-color: #0f5cb8;
    border-bottom-width: 2px;
    color: #ffffff;
    border-radius: 15px;
    cursor: pointer;
    padding: 15px;
}

.about {
    background: url('img/front4.png') no-repeat;
    background-position: center center;
    background-size: cover;
    width: 100vw;
    height: 30vh;
    margin-top: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 50px;
    padding-bottom: 50px;
}

.about__container {
    background-color: rgb(205, 200, 200);
    width: 70%;
    height: 70%;
    margin-bottom: 100px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    opacity: 90%;
}

.about__btn {
    display: flex;
    justify-content: space-between;
    height: 100%;
    width: 100%;
    margin-top: 10px;
}

 
.about__link {
    text-decoration: none;
    width: 100%;
}

.about button {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    font-weight: 700;
    color: #fff;
    background-color: #1174e6;
    width: 100%;
    cursor: pointer;
    height: 100%;
    border-color: #0f5cb8;
    border-width: 2px;
}

.form {
    background-color: #131414;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.form_container {
    background-color: #43515d;
    border-radius: 30px;
    padding-top: 70px;
    padding-bottom: 20px;
    margin-top: -100px;
    margin-bottom: -100px;
    border-style: solid;
    border-width: 10px;
    border-color: #404042;
}



.form__group {
    display: flex;
    flex-direction: column;
    text-align: left;
    /* margin: 5px; */
}

.form h1 {
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    margin: auto;
}

.form form {
    display: grid;
    grid-gap: 15px;
    margin-top: 40px;
}


.form input {
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    font-size: 15px;
    height: 10px;
    padding: 15px;
    width: 500px;
    outline: none;
}

.form label {
    color: #fff;
    font-size: 20px;
    margin-bottom: 5px;

}

.form button {
    appearance: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-weight: 600;
    background-color: #1174e6;
    color: #ffffff;
    border-radius: 15px;
    cursor: pointer;
    border-color: #0f5cb8;
    border-bottom-width: 2px;
    padding: 15px;
    margin: 40px auto 20px auto;
    width: auto;
}

input:focus {
    border: #1174e6 2px solid;
    transition: border 0.2s ease-in;
}

button:hover {
    background-color: #4793eb;
    transition: background-color 0.3s ease-in;
}

a:hover {
    color: bisque;
    transition: color 0.3s ease-in;
}